<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="perfil()">
  <div class="card-body-perfil">
    <div class="card-perfil p-card">
      <h2 class="title-perfil">Introduzca los datos necesarios</h2>
      <div class="input-container-perfil">
        <span class="p-float-label">
          <input type="text" name="direccion" class="custom-input" formControlName="direccion" pInputText />
          <label for="float-input">Dirección</label>
        </span>
      </div>
      <div class="input-container-perfil">
        <span class="p-float-label">
          <input id="float-input" type="text" name="telefono_movil" formControlName="telefono_movil" pInputText />
          <label for="float-input">Teléfono Móvil</label>
        </span>
        <span class="p-float-label">
          <input id="float-input" type="text" name="telefono_fijo" formControlName="telefono_fijo" pInputText />
          <label for="float-input">Teléfono Fijo</label>
        </span>
      </div>

      <div class="input-container-perfil">
        <span class="p-float-label">
          <input id="float-input" type="text" name="cp" formControlName="cp" pInputText />
          <label for="float-input">CP</label>
        </span>
        <span class="p-float-label">
          <input id="float-input" type="text" name="nif" formControlName="nif" pInputText />
          <label for="float-input">NIF</label>
        </span>
      </div>

      <div class="input-container-perfil">
        <span class="p-float-label">
          <input id="float-input" type="text" name="municipio" formControlName="municipio" pInputText />
          <label for="float-input">Municipio</label>
        </span>
        <span class="p-float-label">
          <input id="float-input" type="text" name="provincia" formControlName="provincia" pInputText />
          <label for="float-input">Provincia</label>
        </span>
      </div>
      <div class="button-container">
        <p-button type="submit" [disabled]="miFormulario.invalid" label="Guardar"></p-button>
      </div>
    </div>
  </div>
</form>
