
<h1>Dashboard</h1>
<hr>
<app-navbar></app-navbar>
<p>
    Esta página sólo funciona si estás autenticado
</p>

<h4>User info</h4>
<pre>{{ usuario | json }}</pre>

<button pButton pRipple type="button" label="Pacientes" class="p-button-raised p-button-primary" routerLink="/pacientes">
</button>
<button pButton pRipple type="button" label="Doctores" class="p-button-raised p-button-secondary" routerLink="/doctores"></button>

<button (click)="logout()" pButton pRipple type="button" label="Logout" class="p-button-raised p-button-danger">
</button>
