<h4>User info</h4>
<pre>{{ usuario | json }}</pre>

<button
  pButton
  pRipple
  type="button"
  (click)="showModalDialog()"
  icon="pi pi-plus"
  label="Añadir doctor"
  class="p-button-primary"
></button>

<p-dialog
  [(visible)]="displayDialog"
  [responsive]="true"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [draggable]="true"
  (onHide)="onHideDialog()"
>
  <div>
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="doctor()">
      <h2 class="title-paciente">Introduzca los datos necesarios</h2>
      <div class="input-container-paciente">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="name"
            pInputText
          />
          <label for="float-input">Nombre</label>
        </span>
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="apellidos"
            class="custom-input-paciente-1"
            pInputText
          />
          <label for="float-input">Apellidos</label>
        </span>
      </div>
      <div class="input-container-paciente">
        <span class="p-float-label">
          <input
            type="text"
            class="custom-paciente-input-2"
            formControlName="email"
            pInputText
          />
          <label for="float-input">Email</label>
        </span>
      </div>
            <div class="input-container-paciente">
              <span class="p-float-label">
                <input
                  type="text"
                  class="custom-paciente-input-2"
                  formControlName="numColegiado"
                  pInputText
                />
                <label for="float-input">Numero de Colegiado</label>
              </span>
            </div>

            <div class="input-container-paciente">
              <span class="p-float-label">
                <input
                  id="float-input"
                  type="text"
                  formControlName="telefono_movil"
                  pInputText
                />
                <label for="float-input">Teléfono Móvil</label>
              </span>
              <span class="p-float-label">
                <input
                  id="float-input"
                  type="text"
                  formControlName="especialidad"
                  pInputText
                />
                <label for="float-input">Especialidad</label>
              </span>
            </div>

            <div class="input-container-paciente">
              <span class="p-float-label">
                <input
                  id="float-input"
                  type="text"
                  formControlName="dni"
                  pInputText
                  class="custom-paciente-input-3"
                />
                <label for="float-input">DNI</label>
              </span>
            </div>
            <div class="button-container p-d-flex p-ai-center">
              <button
                pButton
                pRipple
                icon="pi pi-times"
                type="button"
                label="Cancelar"
                class="p-button-raised p-button-danger"
                (click)="onHideDialog()"
              ></button>
              <button
                pButton
                pRipple
                type="submit"
                icon="pi pi-check"
                type="button"
                (click)="doctor()"
                label="Guardar"
                class="p-button-raised p-button-success"
                [disabled]="miFormulario.invalid"
              ></button>
            </div>
          </form>
        </div>
      </p-dialog>

    
