<h4>User info</h4>
<pre>{{ usuario | json }}</pre>

<button
  pButton
  pRipple
  type="button"
  (click)="showModalDialog()"
  icon="pi pi-plus"
  label="Añadir producto"
  class="p-button-primary"
></button>

<p-dialog
  [(visible)]="displayDialog"
  [responsive]="true"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [draggable]="true"
  (onHide)="onHideDialog()"
>
  <div>
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="inventario()">
      <h2 class="title-evento">Introduzca los datos necesarios</h2>
      <div class="input-container-evento">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="codigoProducto"
            class="custom-input-producto"
            pInputText
          />
          <label for="float-input">Código de producto</label>
        </span>
      </div>
      <div class="input-container-producto">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="name"
            class="custom-input-producto"
            pInputText
          />
          <label for="float-input">Nombre</label>
        </span>
      </div>
      <div class="input-container-producto">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="categoria"
            class="custom-input-producto"
            pInputText
          />
          <label for="float-input">Categoria</label>
        </span>
      </div>
      <div class="input-container-producto">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="marca"
            class="custom-input-producto"
            pInputText
          />
          <label for="float-input">Marca</label>
        </span>
      </div>
      <div class="input-container-producto">
        <span class="p-float-label">
          <textarea
            id="float-input"
            formControlName="descripcion"
            class="custom-input-text-area-producto"
            pInputTextarea
          ></textarea>
          <label for="float-input">Descripción</label>
        </span>
      </div>
      <div class="input-container-producto">
        <div formControlName="fecha" class="field col-12 md:col-12 mx:col-4">
          <span class="p-float-label">
            <p-calendar class="ui-datepicker fecha-input" [(ngModel)]="date3" [showIcon]="true" class="p-inputtext-sm" formControlName="fecha"></p-calendar>
            <label>Fecha</label>
          </span>
        </div>
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="precio"
            class="custom-input-producto-2"
            pInputText
          />
          <label for="float-input">Precio</label>
        </span>
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="unidades"
            class="custom-input-producto-2"
            pInputText
          />
          <label for="float-input">Unidades</label>
        </span>
       
      </div>
     

      
      <style>
      .fecha-input, .hora-input {
        width: 90%;
      }
      </style>
      
      
      
      
            <div class="button-container p-d-flex p-ai-center">
              <button
                pButton
                pRipple
                icon="pi pi-times"
                type="button"
                label="Cancelar"
                class="p-button-raised p-button-danger"
                (click)="onHideDialog()"
              ></button>
              <button
                pButton
                pRipple
                type="submit"
                icon="pi pi-check"
                type="button"
                (click)="inventario()"
                label="Guardar"
                class="p-button-raised p-button-success"
                [disabled]="miFormulario.invalid"
              ></button>
            </div>
          </form>
        </div>
      </p-dialog>
      
      <table>
        <thead>
          <tr>
            <th> Código de producto </th>
            <th> Nombre </th>
            <th> Categoría </th>
            <th> Marca </th>
            <th> Descripción </th>
            <th> Precio </th>
            <th> Unidades </th>
            <th> Fecha </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.codigoProducto }}</td>
            <td>{{ producto.name }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.unidades }}</td>
            <td>{{ producto.fecha }}</td>
          </tr>
        </tbody>
      </table>
    
