<p>pacientes works!</p>
<h4>User info</h4>
<pre>{{ usuario | json }}</pre>


<button pButton pRipple type="button" (click)="showModalDialog()"  icon="pi pi-plus"  label="Añadir paciente" class="p-button-primary"></button>

<p-dialog [(visible)]="displayDialog" [responsive]="true"
          [modal]="true" [closable]="true" [closeOnEscape]="true"
          [dismissableMask]="true" [draggable]="true"
          (onHide)="onHideDialog()">
    <div><form autocomplete="off" [formGroup]="miFormulario">
     
    
          <h2 class="title-paciente">Introduzca los datos necesarios</h2>
          <div class="input-container-paciente">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                name="name"
                formControlName="name"
                pInputText
              />
              <label for="float-input">Nombre</label>
            </span>
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                name="apellidos"
                formControlName="apellidos"
                class="custom-input-paciente-1"
                pInputText
              />
              <label for="float-input">Apellidos</label>
            </span>
          </div>
          <div class="input-container-paciente">
            <span class="p-float-label">
              <input
                type="text"
                name="email"
                class="custom-paciente-input-2"
                formControlName="email"
                pInputText
              />
              <label for="float-input">Email</label>
            </span>
          </div>
          <div class="input-container-paciente">
            <span class="p-float-label">
              <input
                type="text"
                name="direccion"
                class="custom-paciente-input-2"
                formControlName="direccion"
                pInputText
              />
              <label for="float-input">Dirección</label>
            </span>
          </div>
    
          <div class="input-container-paciente">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                name="telefono_movil"
                formControlName="telefono_movil"
                pInputText
              />
              <label for="float-input">Teléfono Móvil</label>
            </span>
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                name="dni"
                formControlName="dni"
                pInputText
              />
              <label for="float-input">DNI</label>
            </span>
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                name="cp"
                formControlName="cp"
                pInputText
              />
              <label for="float-input">CP</label>
            </span>
          </div>
    
          <div class="input-container-paciente">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                name="municipio"
                formControlName="municipio"
                pInputText
                class="custom-paciente-input-3"
              />
              <label for="float-input">Municipio</label>
            </span>
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                name="provincia"
                formControlName="provincia"
                pInputText
                class="custom-paciente-input-3"
              />
              <label for="float-input">Provincia</label>
            </span>
          </div>
          <div class="button-container p-d-flex p-ai-center">
            <button
              pButton
              pRipple
              icon="pi pi-times"
              type="button"
              label="Cancelar"
              class="p-button-raised p-button-danger"
            ></button>
            <button
              pButton
              pRipple
              type="submit"
              icon="pi pi-check"
              type="button"
              label="Guardar"
              class="p-button-raised p-button-success"
            ></button>
          </div>
       
     
    </form></div>
</p-dialog>






